asn1crypto==1.2.0
certifi==2019.11.28
cffi==1.13.2
cryptography==2.8
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.24
django-heroku==0.3.1
DjangoUeditor==1.8.143
enum34==1.1.6
gunicorn==20.0.4
idna==2.8
ipaddress==1.0.23
Markdown==3.1.1
Pillow==6.2.1
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycparser==2.19
Pygments==2.5.2
PyMySQL==0.9.3
pytz==2019.3
six==1.13.0
static3==0.7.0
whitenoise==5.1.0
wincertstore==0.2
